<!-- Page Content -->
<div class="container">

    <div class="row">
      <div class="col-md-4 mb-5">
        <h2>About Me</h2>
        <hr>
        <p>Heyo!<br><br><br><br><br><br><br><br><br><br><br> </p>
        <p></p>
        <a class="btn btn-primary btn-lg" href="/Resume">See my Resume &raquo;</a>
      </div>
      <div class="col-md-4 mb-5">
        <h2>Contact Me</h2>
        <hr>
        <strong>All Inquiries Welcome!</strong> <br><br>
        <address>
          <div title="Email">Email: <a href="mailto:f74chen@uwaterloo.ca">f74chen@uwaterloo.ca</a></div>
          
        </address>
        <address>
          <div title="Twitter">Twitter: <a href="https://twitter.com/chenfrank647">twitter.com/chenfrank647</a></div>
          
        </address>
        <address>
          <div title="LinkedIn">LinkedIn: <a href="https://www.linkedin.com/in/f74chen/">linkedin.com/f74chen/</a></div>
          
        </address>
      </div>
      <div class="col-md-4 mb-5">
        <h2>Picture Me</h2>
        <hr>
        
      </div>
    </div>
    <!-- /.row -->
    <!--
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
    </div>
    -->

    <!-- /.row -->

  </div>
  <!-- /.container -->

